<br>

<div class="container">

    <div class="row">

        <div class="col-lg-4">

        </div>

        <div class="col-lg-4 centralizar topo">

            <div class="card">
                <div class="card-body">

                    <h3>Cadastro de Carro:</h3>

                    <br>

                    <mdb-form-control>
                        <input mdbInput type="text" id="nome" class="form-control" [(ngModel)]="carro.nome" />
                        <label mdbLabel class="form-label" for="nome">Nome</label>
                    </mdb-form-control>

                    <br>

                    <button type="button" class="btn btn-primary btn-rounded" mdbRipple (click)="save()">
                        Salvar

                    </button>

                </div>
            </div>

        </div>

    </div>

</div>